Repository RoundaboutTeam/Documentazione, pull requests merged in 2020-05, with the labels that each got.

#118 Stesura VE 2020-04-23
  Esterni/Verbali/VE_2020_04_23/VE_2020_04_23.tex
  Esterni/Verbali/VE_2020_04_23/config/commands.tex
  Esterni/Verbali/VE_2020_04_23/res/img/cropped_logo.png
  Esterni/Verbali/VE_2020_04_23/res/img/logo.png
  Esterni/Verbali/VE_2020_04_23/res/sections/01-Intro.tex
  Esterni/Verbali/VE_2020_04_23/res/sections/02-Resoconto.tex
  Esterni/Verbali/VE_2020_04_23/res/sections/03-Riepilogo.tex
  Esterni/Verbali/VE_2020_04_23/res/sections/changelog.tex
Labels: Verbale

#124 Verificare modifiche NdP (Vedi descrizione) #119
  Interni/Norme_progetto/config/commands.tex
  Interni/Norme_progetto/norme_di_progetto.pdf
  Interni/Norme_progetto/res/sections/03-ProcessiDiSupporto.tex
  Interni/Norme_progetto/res/sections/changelog.tex
  Interni/Norme_progetto/res/sections/organizzativi/formazione.tex
  Interni/Norme_progetto/res/sections/organizzativi/gestione_organizzativa.tex
  Interni/Norme_progetto/res/sections/primari/fornitura.tex
  Interni/Norme_progetto/res/sections/primari/sviluppo.tex
  Interni/Norme_progetto/res/sections/supporto/gestione_cambiamenti.tex
  Interni/Norme_progetto/res/sections/supporto/gestione_qualita.tex
  Interni/Norme_progetto/res/sections/supporto/validazione.tex
  Interni/Norme_progetto/res/sections/supporto/verifica.tex
Labels: Norme di Progetto

#123 Stesura del verbale interno del 2020_04_30
  Interni/Verbali/VI_2020_04_30/VI_2020_04_30.tex
  Interni/Verbali/VI_2020_04_30/config/commands.tex
  Interni/Verbali/VI_2020_04_30/res/img/cropped_logo.png
  Interni/Verbali/VI_2020_04_30/res/img/logo.png
  Interni/Verbali/VI_2020_04_30/res/sections/01-Intro.tex
  Interni/Verbali/VI_2020_04_30/res/sections/02-Resoconto.tex
  Interni/Verbali/VI_2020_04_30/res/sections/03-Riepilogo.tex
  Interni/Verbali/VI_2020_04_30/res/sections/changelog.tex
Labels: Verbale

#126 Verificare nuove modifiche NdP
  Interni/Norme_progetto/config/commands.tex
  Interni/Norme_progetto/norme_di_progetto.pdf
  Interni/Norme_progetto/norme_di_progetto.tex
  Interni/Norme_progetto/res/img/ISO_IEC_15504.png
  Interni/Norme_progetto/res/img/ISO_IEC_9126.png
  Interni/Norme_progetto/res/img/PDCA.png
  Interni/Norme_progetto/res/sections/01-Intro.tex
  Interni/Norme_progetto/res/sections/A-StandardQualita.tex
  Interni/Norme_progetto/res/sections/changelog.tex
  Interni/Norme_progetto/res/sections/organizzativi/formazione.tex
  Interni/Norme_progetto/res/sections/organizzativi/gestione_organizzativa.tex
  Interni/Norme_progetto/res/sections/primari/fornitura.tex
  Interni/Norme_progetto/res/sections/primari/sviluppo.tex
  Interni/Norme_progetto/res/sections/supporto/documentazione.tex
  Interni/Norme_progetto/res/sections/supporto/gestione_qualita.tex
  Interni/Norme_progetto/res/sections/supporto/validazione.tex
  Interni/Norme_progetto/res/sections/supporto/verifica.tex
Labels: Correzione, Norme di Progetto

#132 PdQ #127
  Esterni/Piano_qualifica/config/commands.tex
  Esterni/Piano_qualifica/piano_di_qualifica.pdf
  Esterni/Piano_qualifica/piano_di_qualifica.tex
  Esterni/Piano_qualifica/res/sections/02-QualitaProcesso.tex
  Esterni/Piano_qualifica/res/sections/03-QualitaProdotto.tex
  Esterni/Piano_qualifica/res/sections/A-StandardQualita.tex
  Esterni/Piano_qualifica/res/sections/A-ValutazioniMiglioramento.tex
  Esterni/Piano_qualifica/res/sections/B-ResocontoVerifica.tex
  Esterni/Piano_qualifica/res/sections/changelog.tex
Labels: Correzione, Piano di Qualifica

#134 Correzione #129
  Esterni/Piano_qualifica/config/commands.tex
  Esterni/Piano_qualifica/res/sections/04-TestVerifica.tex
  Esterni/Piano_qualifica/res/sections/05-TestValidazione.tex
  Esterni/Piano_qualifica/res/sections/changelog.tex
Labels: Piano di Qualifica

#131 Completamento #120 #121 #122
  Interni/Norme_progetto/res/sections/organizzativi/gestione_organizzativa.tex
Labels: Correzione, Norme di Progetto

#135 Feature/AdR #108 #109 #114
  Esterni/Analisi_dei_requisiti/analisi_dei_requisiti.pdf
  Esterni/Analisi_dei_requisiti/config/commands.tex
  Esterni/Analisi_dei_requisiti/res/img/UC14.png
  Esterni/Analisi_dei_requisiti/res/img/UC17G.png
  Esterni/Analisi_dei_requisiti/res/img/UC19G.png
  Esterni/Analisi_dei_requisiti/res/img/UC1G.png
  Esterni/Analisi_dei_requisiti/res/img/UC3.png
  Esterni/Analisi_dei_requisiti/res/img/UC3G.png
  Esterni/Analisi_dei_requisiti/res/img/UC4G.png
  Esterni/Analisi_dei_requisiti/res/img/UC6G.png
  Esterni/Analisi_dei_requisiti/res/img/UC7G.png
  Esterni/Analisi_dei_requisiti/res/img/UC8G.png
  Esterni/Analisi_dei_requisiti/res/img/UC9G.png
  Esterni/Analisi_dei_requisiti/res/sections/03-CasiUso.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC1.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC17.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC19.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC3.1.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC3.2.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC3.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC4.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC6.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC7.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC8.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC9.tex
  Esterni/Analisi_dei_requisiti/res/sections/changelog.tex
Labels: Analisi dei requisiti, Correzione

#136 PdQ #128
  Esterni/Piano_qualifica/res/sections/02-QualitaProcesso.tex
  Esterni/Piano_qualifica/res/sections/A-ValutazioniMiglioramento.tex
  Esterni/Piano_qualifica/res/sections/changelog.tex
Labels: Correzione, Piano di Qualifica

#137 AdR #107 #115
  .gitignore
  Esterni/Analisi_dei_requisiti/analisi_dei_requisiti.tex
  Esterni/Analisi_dei_requisiti/config/commands.tex
  Esterni/Analisi_dei_requisiti/res/sections/02-DescrizioneGenerale.tex
  Esterni/Analisi_dei_requisiti/res/sections/A-AnalisiDellaStruttura.tex
  Esterni/Analisi_dei_requisiti/res/sections/changelog.tex
  Esterni/Analisi_dei_requisiti/res/sections/requisiti/02-RequisitiQualita.tex
  Esterni/Analisi_dei_requisiti/res/sections/requisiti/03-RequisitiVincolo.tex
  Latex/configs.tex
Labels: Analisi dei requisiti, Correzione

#147 Verifica Appendice B
  Esterni/Piano_qualifica/config/commands.tex
  Esterni/Piano_qualifica/res/sections/02-QualitaProcesso.tex
  Esterni/Piano_qualifica/res/sections/B-ResocontoVerifica.tex
  Esterni/Piano_qualifica/res/sections/B/codifica.tex
  Esterni/Piano_qualifica/res/sections/B/documentazione.tex
  Esterni/Piano_qualifica/res/sections/B/gestione_organizzativa.tex
  Esterni/Piano_qualifica/res/sections/B/gestione_qualita.tex
  Esterni/Piano_qualifica/res/sections/B/gestione_qualita/PMS.csv
  Esterni/Piano_qualifica/res/sections/B/gulpease/AdR.csv
  Esterni/Piano_qualifica/res/sections/B/gulpease/Glossario.csv
  Esterni/Piano_qualifica/res/sections/B/gulpease/NdP.csv
  Esterni/Piano_qualifica/res/sections/B/gulpease/PdP.csv
  Esterni/Piano_qualifica/res/sections/B/gulpease/PdQ.csv
  Esterni/Piano_qualifica/res/sections/B/gulpease/SdF.csv
  Esterni/Piano_qualifica/res/sections/B/gulpease/Verbali.csv
  Esterni/Piano_qualifica/res/sections/changelog.tex
  Interni/Norme_progetto/norme_di_progetto.pdf
  Latex/configs.tex
Labels: Piano di Qualifica

#148 VE 2020_04_30
  Esterni/Verbali/VE_2020_04_30/VE_2020_04_30.tex
  Esterni/Verbali/VE_2020_04_30/config/commands.tex
  Esterni/Verbali/VE_2020_04_30/res/img/cropped_logo.png
  Esterni/Verbali/VE_2020_04_30/res/img/logo.png
  Esterni/Verbali/VE_2020_04_30/res/sections/01-Intro.tex
  Esterni/Verbali/VE_2020_04_30/res/sections/02-Resoconto.tex
  Esterni/Verbali/VE_2020_04_30/res/sections/03-Riepilogo.tex
  Esterni/Verbali/VE_2020_04_30/res/sections/changelog.tex
Labels: Verbale

#174 Feature/AdR-#112-#113-#111
  Esterni/Analisi_dei_requisiti/config/commands.tex
  Esterni/Analisi_dei_requisiti/res/img/UC10.png
  Esterni/Analisi_dei_requisiti/res/img/UC11-2.png
  Esterni/Analisi_dei_requisiti/res/img/UC11.png
  Esterni/Analisi_dei_requisiti/res/img/UC12.png
  Esterni/Analisi_dei_requisiti/res/img/UC12G.png
  Esterni/Analisi_dei_requisiti/res/img/UC13-1.png
  Esterni/Analisi_dei_requisiti/res/img/UC13-2.png
  Esterni/Analisi_dei_requisiti/res/img/UC13.png
  Esterni/Analisi_dei_requisiti/res/img/UC14G.png
  Esterni/Analisi_dei_requisiti/res/img/UC16G.png
  Esterni/Analisi_dei_requisiti/res/img/UC20.png
  Esterni/Analisi_dei_requisiti/res/img/UC21.png
  Esterni/Analisi_dei_requisiti/res/img/UC9.png
  Esterni/Analisi_dei_requisiti/res/sections/03-CasiUso.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/20.1.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC10.1.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC10.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC11.1.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC11.2.1.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC11.2.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC11.3.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC11.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC12.1.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC12.2.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC12.3.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC12.4.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC12.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC13.1.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC13.2.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC13.3.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC13.4.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC13.5.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC13.6.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC13.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC14.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC16.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC20.1.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC20.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC21.1.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC21.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC22.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC23.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC5.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC9.1.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC9.2.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC9.3.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC9.tex
  Esterni/Analisi_dei_requisiti/res/sections/changelog.tex
Labels: Analisi dei requisiti, Correzione

#173 Verifica VI_2020_05_05
  Interni/Verbali/VI_2020_05_05/VI_2020_05_05.tex
  Interni/Verbali/VI_2020_05_05/config/commands.tex
  Interni/Verbali/VI_2020_05_05/res/img/cropped_logo.png
  Interni/Verbali/VI_2020_05_05/res/img/logo.png
  Interni/Verbali/VI_2020_05_05/res/sections/01-Intro.tex
  Interni/Verbali/VI_2020_05_05/res/sections/02-Resoconto.tex
  Interni/Verbali/VI_2020_05_05/res/sections/03-Riepilogo.tex
  Interni/Verbali/VI_2020_05_05/res/sections/changelog.tex
Labels: Verbale

#149 Verifica Verbale esterno 2020_05_04
  Esterni/Verbali/VE_2020_05_04/VE_2020_05_04.tex
  Esterni/Verbali/VE_2020_05_04/config/commands.tex
  Esterni/Verbali/VE_2020_05_04/res/img/cropped_logo.png
  Esterni/Verbali/VE_2020_05_04/res/img/logo.png
  Esterni/Verbali/VE_2020_05_04/res/sections/01-Intro.tex
  Esterni/Verbali/VE_2020_05_04/res/sections/02-Resoconto.tex
  Esterni/Verbali/VE_2020_05_04/res/sections/03-Riepilogo.tex
  Esterni/Verbali/VE_2020_05_04/res/sections/changelog.tex
Labels: Verbale

#172 Incremento §A PdQ
  Esterni/Piano_qualifica/config/commands.tex
  Esterni/Piano_qualifica/res/sections/A-ValutazioniMiglioramento.tex
  Esterni/Piano_qualifica/res/sections/changelog.tex
Labels: Incremento, Piano di Qualifica

#175 Incrementi NdP
  Interni/Norme_progetto/norme_di_progetto.pdf
  Interni/Norme_progetto/res/sections/01-Intro.tex
  Interni/Norme_progetto/res/sections/changelog.tex
  Interni/Norme_progetto/res/sections/primari/sviluppo.tex
Labels: Norme di Progetto

#176 Incremento sezione §3 NdP
  Interni/Norme_progetto/config/commands.tex
  Interni/Norme_progetto/res/sections/changelog.tex
  Interni/Norme_progetto/res/sections/supporto/documentazione.tex
  Interni/Norme_progetto/res/sections/supporto/gestione_configurazione.tex
  Interni/Norme_progetto/res/sections/supporto/verifica.tex
Labels: Incremento, Norme di Progetto

#177 Incremento sezione §4 NdP
  Interni/Norme_progetto/config/commands.tex
  Interni/Norme_progetto/res/sections/changelog.tex
  Interni/Norme_progetto/res/sections/organizzativi/gestione_organizzativa.tex
Labels: Incremento, Norme di Progetto

#179 Verifica-approvazione dell'intero documento
  Esterni/Analisi_dei_requisiti/config/commands.tex
  Esterni/Analisi_dei_requisiti/res/sections/01-Intro.tex
  Esterni/Analisi_dei_requisiti/res/sections/02-DescrizioneGenerale.tex
  Esterni/Analisi_dei_requisiti/res/sections/A-AnalisiDellaStruttura.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC10.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC11.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC12.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC13.3.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC14.2.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC15.2.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC15.4.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC16.1.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC18.1.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC18.2.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC4.1.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC5.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC6.1.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC9.tex
  Esterni/Analisi_dei_requisiti/res/sections/changelog.tex
  Esterni/Analisi_dei_requisiti/res/sections/requisiti/01-RequisitiFunzionali.tex
  Esterni/Analisi_dei_requisiti/res/sections/requisiti/02-RequisitiQualita.tex
  Esterni/Analisi_dei_requisiti/res/sections/requisiti/03-RequisitiVincolo.tex
  Esterni/Analisi_dei_requisiti/res/sections/requisiti/04-RequisitiPrestazionali.tex
Labels: Analisi dei requisiti

#183 Verifica VI_2020_05_08
  Interni/Verbali/VI_2020_05_08/VI_2020_05_08.tex
  Interni/Verbali/VI_2020_05_08/config/commands.tex
  Interni/Verbali/VI_2020_05_08/res/img/cropped_logo.png
  Interni/Verbali/VI_2020_05_08/res/img/logo.png
  Interni/Verbali/VI_2020_05_08/res/sections/01-Intro.tex
  Interni/Verbali/VI_2020_05_08/res/sections/02-Resoconto.tex
  Interni/Verbali/VI_2020_05_08/res/sections/03-Riepilogo.tex
  Interni/Verbali/VI_2020_05_08/res/sections/changelog.tex
Labels: Verbale

#185 Verifica-approvazione PdQ §C
  Esterni/Piano_qualifica/piano_di_qualifica.tex
  Esterni/Piano_qualifica/res/sections/C-ModificheRevisioni.tex
  Esterni/Piano_qualifica/res/sections/changelog.tex
Labels: Incremento, Piano di Qualifica

#187 Incremento Glossario. Closes #186
  Esterni/Glossario/config/commands.tex
  Esterni/Glossario/glossario.pdf
  Esterni/Glossario/res/sections/changelog.tex
  Esterni/Glossario/res/sections/content.tex
Labels: Glossario, Incremento

#184 Merge feature/PdP-#182
  Esterni/Piano_di_progetto/config/commands.tex
  Esterni/Piano_di_progetto/piano_di_progetto.pdf
  Esterni/Piano_di_progetto/res/img/DiagrammiGantt/prog_arch_gantt.PNG
  Esterni/Piano_di_progetto/res/img/DiagrammiGantt/prog_dett_gantt.PNG
  Esterni/Piano_di_progetto/res/img/DiagrammiGantt/validaz_gantt.PNG
  Esterni/Piano_di_progetto/res/sections/04-Pianificazione.tex
  Esterni/Piano_di_progetto/res/sections/05-Preventivo.tex
  Esterni/Piano_di_progetto/res/sections/06-Consuntivo_PreventivoFinire.tex
  Esterni/Piano_di_progetto/res/sections/changelog.tex
Labels: Piano di progetto

#193 Feature/nd p ver approv
  Interni/Norme_progetto/config/commands.tex
  Interni/Norme_progetto/res/sections/changelog.tex
  Interni/Norme_progetto/res/sections/primari/sviluppo.tex
Labels: Norme di Progetto

#194 Verifica-approvazione PdP
  Esterni/Piano_di_progetto/config/commands.tex
  Esterni/Piano_di_progetto/res/sections/01-Introduzione.tex
  Esterni/Piano_di_progetto/res/sections/02-AnalisiRischi.tex
  Esterni/Piano_di_progetto/res/sections/04-Pianificazione.tex
  Esterni/Piano_di_progetto/res/sections/05-Preventivo.tex
  Esterni/Piano_di_progetto/res/sections/06-Consuntivo_PreventivoFinire.tex
  Esterni/Piano_di_progetto/res/sections/AppendiceA-RiscontroRischi.tex
  Esterni/Piano_di_progetto/res/sections/AppendiceB-Organigramma.tex
  Esterni/Piano_di_progetto/res/sections/changelog.tex
Labels: Piano di progetto

#200 Verifica verbale 2020_05_13
  Interni/Verbali/VI_2020_05_13/VI_2020_05_13.tex
  Interni/Verbali/VI_2020_05_13/config/commands.tex
  Interni/Verbali/VI_2020_05_13/res/img/cropped_logo.png
  Interni/Verbali/VI_2020_05_13/res/img/logo.png
  Interni/Verbali/VI_2020_05_13/res/sections/01-Intro.tex
  Interni/Verbali/VI_2020_05_13/res/sections/02-Resoconto.tex
  Interni/Verbali/VI_2020_05_13/res/sections/03-Riepilogo.tex
  Interni/Verbali/VI_2020_05_13/res/sections/changelog.tex
Labels: Verbale

#208 Redatto VE_2020_05_21
  Esterni/Verbali/VE_2020_05_21/VE_2020_05_21.tex
  Esterni/Verbali/VE_2020_05_21/config/commands.tex
  Esterni/Verbali/VE_2020_05_21/res/img/cropped_logo.png
  Esterni/Verbali/VE_2020_05_21/res/img/logo.png
  Esterni/Verbali/VE_2020_05_21/res/sections/01-Intro.tex
  Esterni/Verbali/VE_2020_05_21/res/sections/02-Resoconto.tex
  Esterni/Verbali/VE_2020_05_21/res/sections/03-Riepilogo.tex
  Esterni/Verbali/VE_2020_05_21/res/sections/changelog.tex
Labels: Verbale

#232 Ristrutturate sezioni §3.1, §3.2, §4.1, §4.2. Closes #215
  Interni/Norme_progetto/config/commands.tex
  Interni/Norme_progetto/res/sections/changelog.tex
  Interni/Norme_progetto/res/sections/organizzativi/formazione.tex
  Interni/Norme_progetto/res/sections/organizzativi/gestione_organizzativa.tex
  Interni/Norme_progetto/res/sections/supporto/documentazione.tex
  Interni/Norme_progetto/res/sections/supporto/gestione_configurazione.tex
Labels: Correzione, Norme di Progetto

#231 close #225
  Esterni/Piano_qualifica/config/commands.tex
  Esterni/Piano_qualifica/piano_di_qualifica.tex
  Esterni/Piano_qualifica/res/sections/04-Test.tex
  Esterni/Piano_qualifica/res/sections/04-TestVerifica.tex
  Esterni/Piano_qualifica/res/sections/05-TestValidazione.tex
  Esterni/Piano_qualifica/res/sections/B-ResocontoVerifica.tex
  Esterni/Piano_qualifica/res/sections/changelog.tex
  Esterni/Piano_qualifica/res/sections/test/accettazione.tex
  Esterni/Piano_qualifica/res/sections/test/accettazione/funzionali.tex
  Esterni/Piano_qualifica/res/sections/test/accettazione/qualita.tex
  Esterni/Piano_qualifica/res/sections/test/accettazione/vincolo.tex
  Esterni/Piano_qualifica/res/sections/test/integrazione.tex
  Esterni/Piano_qualifica/res/sections/test/regressione.tex
  Esterni/Piano_qualifica/res/sections/test/sistema.tex
  Esterni/Piano_qualifica/res/sections/test/unita.tex
Labels: Correzione, Piano di Qualifica

#234 Verifica VI_2020_05_23
  Interni/Verbali/VI_2020_05_23/VI_2020_05_23.tex
  Interni/Verbali/VI_2020_05_23/config/commands.tex
  Interni/Verbali/VI_2020_05_23/res/img/cropped_logo.png
  Interni/Verbali/VI_2020_05_23/res/img/logo.png
  Interni/Verbali/VI_2020_05_23/res/sections/01-Intro.tex
  Interni/Verbali/VI_2020_05_23/res/sections/02-Resoconto.tex
  Interni/Verbali/VI_2020_05_23/res/sections/03-Riepilogo.tex
  Interni/Verbali/VI_2020_05_23/res/sections/changelog.tex
Labels: Verbale

#207 close #206
  Esterni/Developer_manual/config/commands.tex
  Esterni/Developer_manual/developer_manual.tex
  Esterni/Developer_manual/res/appendix/A-glossario.tex
  Esterni/Developer_manual/res/img/cropped_logo.png
  Esterni/Developer_manual/res/img/logo.png
  Esterni/Developer_manual/res/sections/01-Intro.tex
  Esterni/Developer_manual/res/sections/02-Etherless.tex
  Esterni/Developer_manual/res/sections/03-Cli.tex
  Esterni/Developer_manual/res/sections/04-Smart.tex
  Esterni/Developer_manual/res/sections/05-Server.tex
  Esterni/Developer_manual/res/sections/changelog.tex
  Latex/en_configs.tex
  Latex/en_copertina.tex
Labels: Dev manual

#233 Correzione UC15 e figura 13.2.11
  Esterni/Analisi_dei_requisiti/config/commands.tex
  Esterni/Analisi_dei_requisiti/res/img/UC15-1.png
  Esterni/Analisi_dei_requisiti/res/img/UC15.png
  Esterni/Analisi_dei_requisiti/res/sections/03-CasiUso.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC15.1.1.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC15.1.2.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC15.1.3.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC15.1.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC15.2.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC15.3.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC15.4.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC15.5.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC15.6.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC15.7.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC15.8.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC15.tex
  Esterni/Analisi_dei_requisiti/res/sections/changelog.tex
Labels: Analisi dei requisiti, Correzione

#238 Verifica e approvazione VE_2020-05-26
  Esterni/Verbali/VE_2020_05_26/VE_2020_05_26.tex
  Esterni/Verbali/VE_2020_05_26/config/commands.tex
  Esterni/Verbali/VE_2020_05_26/res/img/cropped_logo.png
  Esterni/Verbali/VE_2020_05_26/res/img/logo.png
  Esterni/Verbali/VE_2020_05_26/res/sections/01-Intro.tex
  Esterni/Verbali/VE_2020_05_26/res/sections/02-Resoconto.tex
  Esterni/Verbali/VE_2020_05_26/res/sections/03-Riepilogo.tex
  Esterni/Verbali/VE_2020_05_26/res/sections/changelog.tex
Labels: Verbale

#236 Verifica e approvazione VI_2020-05-26
  Interni/Verbali/VI_2020_05_26/VI_2020_05_26.tex
  Interni/Verbali/VI_2020_05_26/config/commands.tex
  Interni/Verbali/VI_2020_05_26/res/img/cropped_logo.png
  Interni/Verbali/VI_2020_05_26/res/img/logo.png
  Interni/Verbali/VI_2020_05_26/res/sections/01-Intro.tex
  Interni/Verbali/VI_2020_05_26/res/sections/02-Resoconto.tex
  Interni/Verbali/VI_2020_05_26/res/sections/03-Riepilogo.tex
  Interni/Verbali/VI_2020_05_26/res/sections/changelog.tex
Labels: Verbale

#241 Creazione struttura Allegato Tecnico. #Closes 210
  ProductBaseline/Allegato_tecnico/allegato_tecnico.tex
  ProductBaseline/Allegato_tecnico/config/commands.tex
  ProductBaseline/Allegato_tecnico/res/img/UC1-GuidaIntro.png.png
  ProductBaseline/Allegato_tecnico/res/img/cropped_logo.png
  ProductBaseline/Allegato_tecnico/res/img/logo.png
  ProductBaseline/Allegato_tecnico/res/sections/01-Intro.tex
  ProductBaseline/Allegato_tecnico/res/sections/02-DescrizioneGenerale.tex
  ProductBaseline/Allegato_tecnico/res/sections/03-Componenti.tex
  ProductBaseline/Allegato_tecnico/res/sections/Componenti/Etherless-CLI.tex
  ProductBaseline/Allegato_tecnico/res/sections/Componenti/Etherless-server.tex
  ProductBaseline/Allegato_tecnico/res/sections/Componenti/Etherless-smart.tex
  ProductBaseline/Allegato_tecnico/res/sections/changelog.tex
Labels: Allegato Tecnico

#243 Ampliamento sezione 2 PdP
  Esterni/Piano_di_progetto/config/commands.tex
  Esterni/Piano_di_progetto/res/sections/02-AnalisiRischi.tex
  Esterni/Piano_di_progetto/res/sections/changelog.tex
Labels: Correzione, Incremento, Piano di progetto

#244 Verifica PdP §6.4.1
  Esterni/Piano_di_progetto/config/commands.tex
  Esterni/Piano_di_progetto/res/sections/04-Pianificazione.tex
  Esterni/Piano_di_progetto/res/sections/05-Preventivo.tex
  Esterni/Piano_di_progetto/res/sections/06-Consuntivo_PreventivoFinire.tex
  Esterni/Piano_di_progetto/res/sections/changelog.tex
  Esterni/Piano_di_progetto/res/sections/consuntivi/analisi.tex
  Esterni/Piano_di_progetto/res/sections/consuntivi/consolidamento_requisiti.tex
  Esterni/Piano_di_progetto/res/sections/consuntivi/progettazione_architetturale.tex
  Esterni/Piano_di_progetto/res/sections/consuntivi/progettazione_dettaglio.tex
Labels: Correzione, Incremento, Piano di progetto

#255 Stesura iniziale server
  Esterni/Developer_manual/config/commands.tex
  Esterni/Developer_manual/res/appendix/A-glossario.tex
  Esterni/Developer_manual/res/sections/05-Server.tex
  Esterni/Developer_manual/res/sections/changelog.tex
Labels: Dev manual

#254 Stesura Verbale esterno 2020-05-28
  Esterni/Verbali/VE_2020_05_28/VE_2020_05_28.tex
  Esterni/Verbali/VE_2020_05_28/config/commands.tex
  Esterni/Verbali/VE_2020_05_28/res/img/cropped_logo.png
  Esterni/Verbali/VE_2020_05_28/res/img/logo.png
  Esterni/Verbali/VE_2020_05_28/res/sections/01-Intro.tex
  Esterni/Verbali/VE_2020_05_28/res/sections/02-Resoconto.tex
  Esterni/Verbali/VE_2020_05_28/res/sections/03-Riepilogo.tex
  Esterni/Verbali/VE_2020_05_28/res/sections/changelog.tex
Labels: Verbale

#245 Aggiornato tracciamento requisiti, close #242
  Esterni/Analisi_dei_requisiti/config/commands.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC10.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC24.tex
  Esterni/Analisi_dei_requisiti/res/sections/UC/UC9.tex
  Esterni/Analisi_dei_requisiti/res/sections/changelog.tex
  Esterni/Analisi_dei_requisiti/res/sections/requisiti/01-RequisitiFunzionali.tex
  Esterni/Analisi_dei_requisiti/res/sections/tracciamento/01-FonteRequisiti.tex
  Esterni/Analisi_dei_requisiti/res/sections/tracciamento/02-RequisitoFonti.tex
Labels: Analisi dei requisiti, Correzione
