Repository RoundaboutTeam/Documentazione, pull requests merged in 2020-07, with the labels that each got.

#340 Stesura VI_2020_06_26
  Interni/Verbali/VI_2020_06_26/VI_2020_06_26.tex
  Interni/Verbali/VI_2020_06_26/config/commands.tex
  Interni/Verbali/VI_2020_06_26/res/img/cropped_logo.png
  Interni/Verbali/VI_2020_06_26/res/img/logo.png
  Interni/Verbali/VI_2020_06_26/res/sections/01-Intro.tex
  Interni/Verbali/VI_2020_06_26/res/sections/02-Resoconto.tex
  Interni/Verbali/VI_2020_06_26/res/sections/03-Riepilogo.tex
  Interni/Verbali/VI_2020_06_26/res/sections/changelog.tex
Labels: Verbale

#363 Verifica #345 #346 #347
  Esterni/Developer_manual/config/commands.tex
  Esterni/Developer_manual/res/sections/01-Intro.tex
  Esterni/Developer_manual/res/sections/01.5-GettingStarted.tex
  Esterni/Developer_manual/res/sections/02-Etherless.tex
  Esterni/Developer_manual/res/sections/changelog.tex
Labels: Correzione, Dev manual

#365 Feature/pd p consuntivi
  Esterni/Piano_di_progetto/config/commands.tex
  Esterni/Piano_di_progetto/res/sections/01-Introduzione.tex
  Esterni/Piano_di_progetto/res/sections/06-Consuntivo_PreventivoFinire.tex
  Esterni/Piano_di_progetto/res/sections/changelog.tex
  Esterni/Piano_di_progetto/res/sections/consuntivi/inc17.tex
  Esterni/Piano_di_progetto/res/sections/consuntivi/inc18.tex
  Esterni/Piano_di_progetto/res/sections/consuntivi/inc19.tex
  Esterni/Piano_di_progetto/res/sections/consuntivi/inc20.tex
  Esterni/Piano_di_progetto/res/sections/consuntivi/progettazione_dettaglio.tex
Labels: Piano di progetto

#366 Stesura verbale interno 2020-07-02
  Interni/Verbali/VI_2020_07_02/VI_2020_07_02.tex
  Interni/Verbali/VI_2020_07_02/config/commands.tex
  Interni/Verbali/VI_2020_07_02/res/img/cropped_logo.png
  Interni/Verbali/VI_2020_07_02/res/img/logo.png
  Interni/Verbali/VI_2020_07_02/res/sections/01-Intro.tex
  Interni/Verbali/VI_2020_07_02/res/sections/02-Resoconto.tex
  Interni/Verbali/VI_2020_07_02/res/sections/03-Riepilogo.tex
  Interni/Verbali/VI_2020_07_02/res/sections/changelog.tex
Labels: Verbale

#362 Close #334 e #356
  Interni/Norme_progetto/config/commands.tex
  Interni/Norme_progetto/res/sections/01-Intro.tex
  Interni/Norme_progetto/res/sections/changelog.tex
  Interni/Norme_progetto/res/sections/organizzativi/gestione_organizzativa.tex
  Interni/Norme_progetto/res/sections/primari/sviluppo.tex
  Interni/Norme_progetto/res/sections/supporto/documentazione.tex
  Interni/Norme_progetto/res/sections/supporto/gestione_qualita.tex
  Interni/Norme_progetto/res/sections/supporto/validazione.tex
  Interni/Norme_progetto/res/sections/supporto/verifica.tex
Labels: Norme di Progetto

#395 Incrementi Test di Sistema e Changelog
  Interni/Norme_progetto/config/commands.tex
  Interni/Norme_progetto/res/sections/changelog.tex
  Interni/Norme_progetto/res/sections/supporto/gestione_configurazione.tex
  Interni/Norme_progetto/res/sections/supporto/verifica.tex
Labels: Norme di Progetto

#403 Stesura VI_2020-07-13
  Interni/Verbali/VI_2020_07_13/VI_2020_07_13.tex
  Interni/Verbali/VI_2020_07_13/config/commands.tex
  Interni/Verbali/VI_2020_07_13/res/img/cropped_logo.png
  Interni/Verbali/VI_2020_07_13/res/img/logo.png
  Interni/Verbali/VI_2020_07_13/res/sections/01-Intro.tex
  Interni/Verbali/VI_2020_07_13/res/sections/02-Resoconto.tex
  Interni/Verbali/VI_2020_07_13/res/sections/03-Riepilogo.tex
  Interni/Verbali/VI_2020_07_13/res/sections/changelog.tex
Labels: Verbale

#404 Stesura VE_2020_07_07
  Esterni/Verbali/VE_2020_07_07/VE_2020_07_07.tex
  Esterni/Verbali/VE_2020_07_07/config/commands.tex
  Esterni/Verbali/VE_2020_07_07/res/img/cropped_logo.png
  Esterni/Verbali/VE_2020_07_07/res/img/logo.png
  Esterni/Verbali/VE_2020_07_07/res/sections/01-Intro.tex
  Esterni/Verbali/VE_2020_07_07/res/sections/02-Resoconto.tex
  Esterni/Verbali/VE_2020_07_07/res/sections/03-Riepilogo.tex
  Esterni/Verbali/VE_2020_07_07/res/sections/changelog.tex
Labels: Verbale

#405 NdP 4.0.0
  Interni/Norme_progetto/config/commands.tex
  Interni/Norme_progetto/res/sections/01-Intro.tex
  Interni/Norme_progetto/res/sections/changelog.tex
  Interni/Norme_progetto/res/sections/primari/fornitura.tex
  Interni/Norme_progetto/res/sections/primari/sviluppo.tex
  Interni/Norme_progetto/res/sections/supporto/documentazione.tex
  Interni/Norme_progetto/res/sections/supporto/gestione_configurazione.tex
  Interni/Norme_progetto/res/sections/supporto/validazione.tex
  Interni/Norme_progetto/res/sections/supporto/verifica.tex
Labels: Norme di Progetto

#394 VI_2020_07_06
  Interni/Verbali/VI_2020_07_06/VI_2020_07_06.tex
  Interni/Verbali/VI_2020_07_06/config/commands.tex
  Interni/Verbali/VI_2020_07_06/res/img/cropped_logo.png
  Interni/Verbali/VI_2020_07_06/res/img/logo.png
  Interni/Verbali/VI_2020_07_06/res/sections/01-Intro.tex
  Interni/Verbali/VI_2020_07_06/res/sections/02-Resoconto.tex
  Interni/Verbali/VI_2020_07_06/res/sections/03-Riepilogo.tex
  Interni/Verbali/VI_2020_07_06/res/sections/changelog.tex
Labels: Verbale

#406 VI_2020_07_15
  Interni/Verbali/VI_2020_07_15/VI_2020_07_15.tex
  Interni/Verbali/VI_2020_07_15/config/commands.tex
  Interni/Verbali/VI_2020_07_15/res/img/cropped_logo.png
  Interni/Verbali/VI_2020_07_15/res/img/logo.png
  Interni/Verbali/VI_2020_07_15/res/sections/01-Intro.tex
  Interni/Verbali/VI_2020_07_15/res/sections/02-Resoconto.tex
  Interni/Verbali/VI_2020_07_15/res/sections/03-Riepilogo.tex
  Interni/Verbali/VI_2020_07_15/res/sections/changelog.tex
Labels: Verbale

#407 Feature/consuntivi-PdP
  Esterni/Piano_di_progetto/config/commands.tex
  Esterni/Piano_di_progetto/res/sections/06-Consuntivo_PreventivoFinire.tex
  Esterni/Piano_di_progetto/res/sections/AppendiceA-RiscontroRischi.tex
  Esterni/Piano_di_progetto/res/sections/changelog.tex
  Esterni/Piano_di_progetto/res/sections/consuntivi/cons_totale.tex
  Esterni/Piano_di_progetto/res/sections/consuntivi/cons_totale_rend.tex
  Esterni/Piano_di_progetto/res/sections/consuntivi/inc20.tex
  Esterni/Piano_di_progetto/res/sections/consuntivi/inc21.tex
  Esterni/Piano_di_progetto/res/sections/consuntivi/inc22.tex
  Esterni/Piano_di_progetto/res/sections/consuntivi/inc23.tex
  Esterni/Piano_di_progetto/res/sections/consuntivi/validazione_collaudo.tex
Labels: Piano di progetto

#369 Correzioni PdQ
  Esterni/Piano_qualifica/config/commands.tex
  Esterni/Piano_qualifica/piano_di_qualifica.tex
  Esterni/Piano_qualifica/res/sections/01-Intro.tex
  Esterni/Piano_qualifica/res/sections/02-QualitaProcesso.tex
  Esterni/Piano_qualifica/res/sections/03-QualitaProdotto.tex
  Esterni/Piano_qualifica/res/sections/04-Test.tex
  Esterni/Piano_qualifica/res/sections/A-ValutazioniMiglioramento.tex
  Esterni/Piano_qualifica/res/sections/B-ResocontoVerifica.tex
  Esterni/Piano_qualifica/res/sections/B/AdR.tex
  Esterni/Piano_qualifica/res/sections/B/affidabilita.tex
  Esterni/Piano_qualifica/res/sections/B/affidabilita/Cli.csv
  Esterni/Piano_qualifica/res/sections/B/affidabilita/Server.csv
  Esterni/Piano_qualifica/res/sections/B/affidabilita/Smart.csv
  Esterni/Piano_qualifica/res/sections/B/code_coverage.tex
  Esterni/Piano_qualifica/res/sections/B/codifica.tex
  Esterni/Piano_qualifica/res/sections/B/documentazione.tex
  Esterni/Piano_qualifica/res/sections/B/flesch/DevMan.csv
  Esterni/Piano_qualifica/res/sections/B/flesch/UserMan.csv
  Esterni/Piano_qualifica/res/sections/B/funzionalita.tex
  Esterni/Piano_qualifica/res/sections/B/gestione_organizzativa.tex
  Esterni/Piano_qualifica/res/sections/B/gestione_organizzativa/AC.csv
  Esterni/Piano_qualifica/res/sections/B/gestione_organizzativa/BAC.csv
  Esterni/Piano_qualifica/res/sections/B/gestione_organizzativa/EAC.csv
  Esterni/Piano_qualifica/res/sections/B/gestione_organizzativa/PV.csv
  Esterni/Piano_qualifica/res/sections/B/gestione_qualita.tex
  Esterni/Piano_qualifica/res/sections/B/gestione_qualita/PMS.csv
  Esterni/Piano_qualifica/res/sections/B/gestione_qualita/pms.txt
  Esterni/Piano_qualifica/res/sections/B/gulpease/AdR.csv
  Esterni/Piano_qualifica/res/sections/B/gulpease/Glossario.csv
  Esterni/Piano_qualifica/res/sections/B/gulpease/NdP.csv
  Esterni/Piano_qualifica/res/sections/B/gulpease/PdP.csv
  Esterni/Piano_qualifica/res/sections/B/gulpease/PdQ.csv
  Esterni/Piano_qualifica/res/sections/B/gulpease/SdF.csv
  Esterni/Piano_qualifica/res/sections/B/gulpease/Verbali.csv
  Esterni/Piano_qualifica/res/sections/B/manutenibilita.tex
  Esterni/Piano_qualifica/res/sections/B/usabilita.tex
  Esterni/Piano_qualifica/res/sections/changelog.tex
  Esterni/Piano_qualifica/res/sections/test/accettazione.tex
  Esterni/Piano_qualifica/res/sections/test/accettazione/impl.csv
  Esterni/Piano_qualifica/res/sections/test/accettazione/qualita.tex
  Esterni/Piano_qualifica/res/sections/test/accettazione/sup.csv
  Esterni/Piano_qualifica/res/sections/test/integrazione.tex
  Esterni/Piano_qualifica/res/sections/test/integrazione/impl.csv
  Esterni/Piano_qualifica/res/sections/test/integrazione/sup.csv
  Esterni/Piano_qualifica/res/sections/test/integrazione/test_integrazione.tex
  Esterni/Piano_qualifica/res/sections/test/regressione.tex
  Esterni/Piano_qualifica/res/sections/test/sistema.tex
  Esterni/Piano_qualifica/res/sections/test/sistema/graph.png
  Esterni/Piano_qualifica/res/sections/test/sistema/test_sistema.tex
  Esterni/Piano_qualifica/res/sections/test/unita.tex
  Esterni/Piano_qualifica/res/sections/test/unita/impl.csv
  Esterni/Piano_qualifica/res/sections/test/unita/sup.csv
  Esterni/Piano_qualifica/res/sections/test/unita/test_unita.tex
  Esterni/Piano_qualifica/res/sections/test/unita/tracc_test_metodi.tex
Labels: Piano di Qualifica

#415 Feature/dev man ver appr
  Esterni/Developer_manual/config/commands.tex
  Esterni/Developer_manual/res/sections/01-Intro.tex
  Esterni/Developer_manual/res/sections/01.5-GettingStarted.tex
  Esterni/Developer_manual/res/sections/changelog.tex
  Esterni/User_manual/res/sections/installation.tex
  Esterni/Verbali/VE_2020_03_27/res/sections/02-Resoconto.tex
  Esterni/Verbali/VE_2020_04_10/res/sections/02-Resoconto.tex
  Interni/Norme_progetto/res/sections/primari/sviluppo.tex
  Interni/Norme_progetto/res/sections/supporto/verifica.tex
  ProductBaseline/Allegato_tecnico/res/sections/Componenti/Etherless-CLI.tex
  ProductBaseline/Allegato_tecnico/res/sections/Componenti/Etherless-smart.tex
Labels: Dev manual
