Repository RoundaboutTeam/Documentazione, pull requests merged in 2020-06, with the labels that each got.

#271 Feature/pb #270
  ProductBaseline/Allegato_tecnico/allegato_tecnico.tex
  ProductBaseline/Allegato_tecnico/config/commands.tex
  ProductBaseline/Allegato_tecnico/diagrammi/etherless-server/DeployRequest.png
  ProductBaseline/Allegato_tecnico/diagrammi/etherless-server/EditRequest.png
  ProductBaseline/Allegato_tecnico/diagrammi/etherless-server/Etherless-server-classi.png
  ProductBaseline/Allegato_tecnico/diagrammi/generali/Etherless_package.png
  ProductBaseline/Allegato_tecnico/res/sections/01-Intro.tex
  ProductBaseline/Allegato_tecnico/res/sections/02-DescrizioneGenerale.tex
  ProductBaseline/Allegato_tecnico/res/sections/Componenti/Etherless-CLI.tex
  ProductBaseline/Allegato_tecnico/res/sections/Componenti/Etherless-server.tex
  ProductBaseline/Allegato_tecnico/res/sections/Componenti/Etherless-smart.tex
Labels: Allegato Tecnico

#256 Verificare introduzione manuale sviluppatore #249
  Esterni/Developer_manual/config/commands.tex
  Esterni/Developer_manual/res/sections/01-Intro.tex
  Esterni/Developer_manual/res/sections/changelog.tex
Labels: Dev manual

#278 Incrementi NdP
  Interni/Norme_progetto/config/commands.tex
  Interni/Norme_progetto/res/sections/01-Intro.tex
  Interni/Norme_progetto/res/sections/changelog.tex
  Interni/Norme_progetto/res/sections/organizzativi/gestione_organizzativa.tex
  Interni/Norme_progetto/res/sections/primari/sviluppo.tex
  Interni/Norme_progetto/res/sections/supporto/documentazione.tex
  Interni/Norme_progetto/res/sections/supporto/gestione_cambiamenti.tex
  Interni/Norme_progetto/res/sections/supporto/gestione_configurazione.tex
  Interni/Norme_progetto/res/sections/supporto/gestione_qualita.tex
  Interni/Norme_progetto/res/sections/supporto/validazione.tex
  Interni/Norme_progetto/res/sections/supporto/verifica.tex
Labels: Norme di Progetto

#295 Sezione 3 (etherless-cli) DevMan
  Esterni/Developer_manual/config/commands.tex
  Esterni/Developer_manual/diagrammi/etherless-cli/Classi.png
  Esterni/Developer_manual/diagrammi/etherless-cli/Commands.png
  Esterni/Developer_manual/diagrammi/etherless-cli/Contract.png
  Esterni/Developer_manual/diagrammi/etherless-cli/FManager.png
  Esterni/Developer_manual/diagrammi/etherless-cli/FParser.png
  Esterni/Developer_manual/diagrammi/etherless-cli/Session.png
  Esterni/Developer_manual/res/sections/03-Cli.tex
  Esterni/Developer_manual/res/sections/changelog.tex
Labels: Dev manual

#297 Verifica stesura sezione 2
  Esterni/Developer_manual/config/commands.tex
  Esterni/Developer_manual/diagrammi/generali/Etherless_package.png
  Esterni/Developer_manual/diagrammi/generali/LayeredArchitecture.png
  Esterni/Developer_manual/diagrammi/generali/activity_diag_pattern1.jpg
  Esterni/Developer_manual/diagrammi/generali/activity_diag_pattern2.jpg
  Esterni/Developer_manual/res/sections/02-Etherless.tex
  Esterni/Developer_manual/res/sections/changelog.tex
Labels: Dev manual

#264 Verifica e approvazione VI_2020_06_02
  Interni/Verbali/VI_2020_06_02/VI_2020_06_02.tex
  Interni/Verbali/VI_2020_06_02/config/commands.tex
  Interni/Verbali/VI_2020_06_02/res/img/cropped_logo.png
  Interni/Verbali/VI_2020_06_02/res/img/logo.png
  Interni/Verbali/VI_2020_06_02/res/sections/01-Intro.tex
  Interni/Verbali/VI_2020_06_02/res/sections/02-Resoconto.tex
  Interni/Verbali/VI_2020_06_02/res/sections/03-Riepilogo.tex
  Interni/Verbali/VI_2020_06_02/res/sections/changelog.tex
Labels: Verbale

#304 Update AppendiceA-RiscontroRischi.tex
  Esterni/Piano_di_progetto/res/sections/AppendiceA-RiscontroRischi.tex
  Esterni/Piano_di_progetto/res/sections/changelog.tex
Labels: Piano di progetto

#302 feature/VI_2020_06_05
  Interni/Verbali/VI_2020_06_05/VI_2020_06_05.tex
  Interni/Verbali/VI_2020_06_05/config/commands.tex
  Interni/Verbali/VI_2020_06_05/res/img/cropped_logo.png
  Interni/Verbali/VI_2020_06_05/res/img/logo.png
  Interni/Verbali/VI_2020_06_05/res/sections/01-Intro.tex
  Interni/Verbali/VI_2020_06_05/res/sections/02-Resoconto.tex
  Interni/Verbali/VI_2020_06_05/res/sections/03-Riepilogo.tex
  Interni/Verbali/VI_2020_06_05/res/sections/changelog.tex
Labels: Verbale

#305 Inserimento nuovi termini
  Esterni/Glossario/config/commands.tex
  Esterni/Glossario/res/sections/changelog.tex
  Esterni/Glossario/res/sections/content.tex
Labels: Glossario

#298 Verifica sezione 5
  Esterni/Developer_manual/config/commands.tex
  Esterni/Developer_manual/diagrammi/etherless-server/.gitkeep
  Esterni/Developer_manual/diagrammi/etherless-server/AWS.png
  Esterni/Developer_manual/diagrammi/etherless-server/Config.png
  Esterni/Developer_manual/diagrammi/etherless-server/Etherless-server-package-class.png
  Esterni/Developer_manual/diagrammi/etherless-server/Eventsmanager.png
  Esterni/Developer_manual/diagrammi/etherless-server/IPFS.png
  Esterni/Developer_manual/diagrammi/etherless-server/Lambda.png
  Esterni/Developer_manual/res/sections/05-Server.tex
  Esterni/Developer_manual/res/sections/changelog.tex
  Latex/en_configs.tex
Labels: Dev manual

#301 Approvazione 3.0.0
  Interni/Norme_progetto/config/commands.tex
  Interni/Norme_progetto/res/sections/changelog.tex
  Interni/Norme_progetto/res/sections/primari/sviluppo.tex
  Interni/Norme_progetto/res/sections/supporto/documentazione.tex
Labels: Norme di Progetto

#308 DevMan sezione Smart #261
  Esterni/Developer_manual/diagrammi/etherless-smart/Etherless-smart.jpg
  Esterni/Developer_manual/diagrammi/etherless-smart/EtherlessEscrow.jpg
  Esterni/Developer_manual/diagrammi/etherless-smart/EtherlessSmart.jpg
  Esterni/Developer_manual/diagrammi/etherless-smart/EtherlessStorage.jpg
  Esterni/Developer_manual/res/appendix/A-glossario.tex
  Esterni/Developer_manual/res/sections/04-Smart.tex
  Esterni/Developer_manual/res/sections/changelog.tex
Labels: Dev manual

#321 Verifica ed inserimento G completati PdQ
  Esterni/Piano_qualifica/config/commands.tex
  Esterni/Piano_qualifica/res/sections/01-Intro.tex
  Esterni/Piano_qualifica/res/sections/02-QualitaProcesso.tex
  Esterni/Piano_qualifica/res/sections/03-QualitaProdotto.tex
  Esterni/Piano_qualifica/res/sections/A-ValutazioniMiglioramento.tex
  Esterni/Piano_qualifica/res/sections/B/progettazione.tex
  Esterni/Piano_qualifica/res/sections/changelog.tex
  Esterni/Piano_qualifica/res/sections/test/accettazione.tex
  Esterni/Piano_qualifica/res/sections/test/accettazione/funzionali.tex
  Esterni/Piano_qualifica/res/sections/test/accettazione/qualita.tex
  Esterni/Piano_qualifica/res/sections/test/accettazione/vincolo.tex
  Esterni/Piano_qualifica/res/sections/test/integrazione.tex
  Esterni/Piano_qualifica/res/sections/test/regressione.tex
  Esterni/Piano_qualifica/res/sections/test/sistema.tex
  Esterni/Piano_qualifica/res/sections/test/unita.tex
  Esterni/Piano_qualifica/res/sections/test/unita/test_unita.tex
Labels: Piano di Qualifica

#320 PdQ test di integrazione
  Esterni/Piano_qualifica/res/sections/test/integrazione.tex
  Esterni/Piano_qualifica/res/sections/test/integrazione/test_integrazione.tex
Labels: Piano di Qualifica

#319 Fix PdQ
  Esterni/Piano_qualifica/config/commands.tex
  Esterni/Piano_qualifica/res/sections/04-Test.tex
  Esterni/Piano_qualifica/res/sections/B/code_coverage.tex
  Esterni/Piano_qualifica/res/sections/B/code_coverage/server.csv
  Esterni/Piano_qualifica/res/sections/B/documentazione.tex
  Esterni/Piano_qualifica/res/sections/B/gestione_organizzativa.tex
  Esterni/Piano_qualifica/res/sections/B/gestione_qualita.tex
  Esterni/Piano_qualifica/res/sections/B/gulpease/PdP.csv
  Esterni/Piano_qualifica/res/sections/B/gulpease/PdQ.csv
  Esterni/Piano_qualifica/res/sections/B/manutenibilita.tex
  Esterni/Piano_qualifica/res/sections/B/progettazione.tex
  Esterni/Piano_qualifica/res/sections/B/usabilita.tex
  Esterni/Piano_qualifica/res/sections/changelog.tex
  Esterni/Piano_qualifica/res/sections/test/accettazione.tex
  Esterni/Piano_qualifica/res/sections/test/accettazione/impl.csv
  Esterni/Piano_qualifica/res/sections/test/accettazione/sup.csv
  Esterni/Piano_qualifica/res/sections/test/unita.tex
  Esterni/Piano_qualifica/res/sections/test/unita/impl.csv
  Esterni/Piano_qualifica/res/sections/test/unita/sup.csv
  Esterni/Piano_qualifica/res/sections/test/unita/test_unita.tex
  Esterni/Piano_qualifica/res/sections/test/unita/tracc_test_metodi.tex
Labels: Piano di Qualifica

#327 Stesura Verbale Interno 2020-06-12. Closes #325
  Interni/Verbali/VI_2020_06_12/VI_2020_06_12.tex
  Interni/Verbali/VI_2020_06_12/config/commands.tex
  Interni/Verbali/VI_2020_06_12/res/img/cropped_logo.png
  Interni/Verbali/VI_2020_06_12/res/img/logo.png
  Interni/Verbali/VI_2020_06_12/res/sections/01-Intro.tex
  Interni/Verbali/VI_2020_06_12/res/sections/02-Resoconto.tex
  Interni/Verbali/VI_2020_06_12/res/sections/03-Riepilogo.tex
  Interni/Verbali/VI_2020_06_12/res/sections/changelog.tex
Labels: Verbale

#336 close #335
  Esterni/Piano_qualifica/config/commands.tex
  Esterni/Piano_qualifica/res/sections/02-QualitaProcesso.tex
  Esterni/Piano_qualifica/res/sections/B/AdR.tex
  Esterni/Piano_qualifica/res/sections/B/funzionalita.tex
  Esterni/Piano_qualifica/res/sections/B/gestione_organizzativa.tex
  Esterni/Piano_qualifica/res/sections/changelog.tex
Labels: Piano di Qualifica
